.katalog__title {
    max-width: 170px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #111010;
    border-bottom: 4px solid #c4c4c4
}

.katalog__discription {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px 20px 20px 20px;
    max-width: 826px;
    width: 100%;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #616161
}

.katalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
}

.catalog__wrapper-1__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0
}

.catalog__list-item {
    position: relative;
    margin-left: 13px;
    margin-bottom: 10px;
    padding-bottom: 20px
}

.list-item__img-1 {
    width: 517px;
    height: 544px
}

.list-item__box-1 {
    position: absolute;
    bottom: 11px;
    left: 18px;
    max-width: 481px;
    width: 100%;
    padding: 35px 20px 35px 20px;
    background-color: #111010;
    border: 2px solid #fff
}

.list-item__img-2 {
    width: 305px;
    height: 544px
}

.list-item__box-2 {
    position: absolute;
    bottom: 11px;
    left: 18px;
    max-width: 269px;
    width: 100%;
    padding: 35px 20px 35px 20px;
    background-color: #111010;
    border: 2px solid #fff
}

.list-item__title-c {
    margin: 0;
    text-align: center;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    color: #fff
}

.list-item__discription-c {
    text-align: center;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #b4b4b4
}

.catalog__wrapper-2__list {
    list-style: none;
    padding: 0
}

.c_li-3 {
    margin-bottom: 38px
}

.list-item__box-3 {
    position: absolute;
    top: 155px;
    left: 20px;
    max-width: 373px;
    width: 100%;
    padding: 35px 20px 35px 20px;
    background-color: #111010;
    border: 2px solid #fff
}

.list-item__box-4 {
    position: absolute;
    top: 155px;
    left: 20px;
    max-width: 373px;
    width: 100%;
    padding: 35px 20px 35px 20px;
    background-color: #111010;
    border: 2px solid #fff
}

.list-item__img-3 {
    width: 408px;
    height: 241px
}

.list-item__img-4 {
    width: 408px;
    height: 241px
}

.podrobnie-link {
    display: block;
    margin: 0 auto;
    max-width: 320px;
    padding: 14px 28px 14px 28px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: #111010;
    border: 2px solid #000
}

.podrobnie-link:hover {
    color: #111010;
    background-color: #fff
}

.katalog__info {
    max-width: 1061px;
    padding: 30px 200px 30px 30px;
    margin-bottom: 100px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #616161;
    background: #f7f7f7
}

.messenjer-btn {
    text-decoration: none;
    border: none;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #f67000;
    background: #f7f7f7
}

.messenjer-btn-i {
    text-decoration: none;
    border: none;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #0400ff;
    background: #f7f7f7
}

@media only screen and (max-width: 1024px) {
    .catalog__wrapper-2__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    .katalog__info {
        margin: 30px
    }
}

@media only screen and (max-width: 769px) {
    .katalog__info {
        padding: 30px 30px 30px 30px;
        margin-bottom: 100px
    }
}

@media only screen and (max-width: 605px) {
    .catalog__list-item {
        position: relative;
        margin-left: 13px;
        margin-bottom: 50px;
        padding-bottom: 20px
    }

    .catalog__wrapper-1__list {
        margin-bottom: 0
    }

    .list-item__img-1 {
        width: 335px;
        height: 355px
    }

    .list-item__box-1 {
        position: absolute;
        bottom: 11px;
        left: 12px;
        max-width: 311px;
        padding: 30px 20px 30px 20px
    }

    .katalog__info {
        font-size: 24px;
        line-height: 28px
    }
}

@media only screen and (max-width: 485px) {
    .list-item__img-2 {
        width: 335px;
        height: 410px
    }

    .list-item__img-3 {
        width: 335px;
        height: 391px
    }

    .list-item__img-4 {
        width: 335px;
        height: 391px
    }

    .list-item__box-1 {
        bottom: -40px;
        left: 12px;
        max-width: 311px
    }

    .list-item__box-2 {
        bottom: -40px;
        left: 12px;
        max-width: 311px
    }

    .list-item__box-4,
    .list-item__box-3 {
        padding: 30px 20px 30px 20px;
        top: 350px;
        left: 12px;
        max-width: 311px
    }
}