.section-info {
    margin-bottom: 70px
}

.section-info__box-1 {
    background-image: url("../../assets/img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #fff
}

.section-info__box-1:hover {
    background: linear-gradient(0deg, rgba(167, 76, 0, 0.7), rgba(167, 76, 0, 0.7)), url("../../assets/img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

.section-info__box-2 {
    background-image: url("../../assets/img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #fff;
}

.section-info__box-2:hover {
    background: linear-gradient(0deg, rgba(167, 76, 0, 0.7), rgba(167, 76, 0, 0.7)), url("../../assets/img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

.section-info__box-3 {
    background-image: url("../../assets/img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #fff
}

.section-info__box-3:hover {
    background: linear-gradient(0deg, rgba(167, 76, 0, 0.7), rgba(167, 76, 0, 0.7)), url("../../assets/img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

.box__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;
    padding-top: 90px
}

.section-info__title {
    padding-left: 40px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: #fff;
}

.section-info__title1 {
    padding-left: 40px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: #fff;
}

.section-info__title2 {
    padding-left: 40px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: #fff;
}


.section-info__dicription {
    padding-left: 40px;
    max-width: 633px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #e4e4e4
}

.section-info__dicription1 {
    margin-left: 20px;
    max-width: 633px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #e4e4e4;
    margin-top: -20px;
}

.section-info__dicription2 {
    margin-left: 20px;
    max-width: 633px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #e4e4e4;
    margin-top: -20px;
}

@media only screen and (max-width: 769px) {
    .section-info {
        margin-bottom: 70px
    }

    .box__wrapper {
        flex-direction: column
    }

    .section-info__title {
        margin: 0;
        /* justify-content: center; */
        padding: 20px;
    }

    .section-info__title1 {
        margin-left: -90px;
        /* justify-content: center; */
        padding: 20px;
    }

    .section-info__title2 {
        margin-left: -190px;
        /* justify-content: center; */
        padding: 20px;
    }

    .section-info__dicription {
        margin: 0;
        padding: 20px;
        /* text-align: center */
        font-size: 20px;
        margin-bottom: 38px;
    }

    .section-info__dicription1 {
        margin: 0;
        font-size: 20px;
        margin-top: -50px;
        margin-bottom: 102px;
        max-width: 317px;
        margin-left: -20px;
        line-height: 28px;
    }

    .section-info__dicription2 {
        margin: 0;
        font-size: 20px;
        margin-top: -50px;
        margin-bottom: 102px;
        max-width: 317px;
        margin-left: -20px;
        line-height: 28px;
    }
}



@media only screen and (max-width: 550px) {
    .section-info__title {
        font-size: 26px;
        line-height: 39px
    }

    .section-info__dicription {
        font-size: 20px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 505px) {
    .box__wrapper {
        padding: 0
    }

    .section-info__title {
        padding-bottom: 0
    }

    .section-info__dicription {
        font-size: 20px;
        line-height: 32px
    }
}