.section-info-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px
}

.info-product__img-wrapper img {
    width: 611px;
    height: 431px
}

.info-product__text-wrapper {
    padding-left: 20px;
    padding-right: 20px
}

.info-product__text-wrapper h4 {
    margin-top: 0;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #111010
}

.info-product__hr {
    width: 160px;
    height: 5px;
    background: #c4c4c4;
    margin-left: 0px;
    margin-top: -45px;
    border-radius: 17px;
    border: none;
    margin-bottom: 20px !important;
}

.info-product__text-wrapper p {
    max-width: 600px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #616161
}

@media only screen and (max-width: 1340px) {
    .info-product__img-wrapper img {
        width: 618px;
        height: 301px;
        margin-left: 20px;
    }

    .section-info-product{
        display: block;
    }

    .info-product__text-wrapper h4 {
        font-size: 42px;
        line-height: 38px
    }

    .info-product__text-wrapper p {
        font-size: 18px;
        line-height: 22px
    }
}

@media only screen and (max-width: 1140px) {
    .info-product__img-wrapper img {
        width: 518px;
        height: 301px
    }
}

@media only screen and (max-width: 632px) {
    .info-product__img-wrapper img {
        width: 335px;
        height: 196px
    }

    .info-product__text-wrapper h4 {
        font-size: 38px;
        line-height: 48px;
        margin-top: 96px;
    }

    .info-product__text-wrapper p {
        font-size: 18px;
        line-height: 22px;
        max-width: 335px;
    }
}