.izgotovlenie-section {
    margin-bottom: 100px;
    padding-left: 120px
}

.izgotovleniye {
    position: relative;
    background-image: url("../../assets/img/izgotovleniye.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1159px;
    width: 100%;
    height: 464px;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 60px
}

.izgotovlenie__box {
    position: absolute;
    left: -11%;
    max-width: 708px;
    padding: 45px 55px 40px 43px;
    background-color: #f7f7f7
}

.izgotovlenie__title {
    margin: 0;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 48px;
    color: #111010
}

.izgotovlenie__discription {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #616161
}

@media only screen and (max-width: 900px) {
    .izgotovlenie-section {
        position: relative;
        margin-bottom: 100px;
        padding-left: 0px
    }

    .izgotovlenie__box {
        left: 11%;
        top: -55%;
        padding: 50px 40px 50px 40px
    }
}

@media only screen and (max-width: 769px) {
    .izgotovlenie__box {
        margin: 20px;
        left: 1.3%;
        top: -60%;
        padding: 50px 40px 50px 40px
    }

    .izgotovlenie__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px
    }

    .izgotovlenie__discription {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px
    }

    .izgotovleniye {
        background-position: center
    }
}

@media only screen and (max-width: 520px) {
    .izgotovlenie__box {
        top: -70%;
        padding: 30px 20px 30px 20px
    }
}