.contact__intro-section {
    margin-bottom: 100px;
    padding: 145px 80px 145px 80px;
    background-image: url("../../assets/img/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.contact__intro-section h4 {
    margin: 0;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 76px;
    text-transform: uppercase;
    color: #fff
}

@media only screen and (max-width: 769px) {
    .contact__intro-section {
        padding: 145px 50px 145px 50px;
        margin-bottom: 70px
    }
}

@media only screen and (max-width: 600px) {
    .contact__intro-section {
        padding: 170px 20px 170px 20px;
        margin-bottom: 50px
    }

    .contact__intro-section h4 {
        font-size: 48px;
        line-height: 56px
    }
}