.mission-section {
    margin-bottom: 100px
}

.mission__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    text-align: center
}

.mission__list-item {
    display: flex;
    flex-direction: column;
    margin: 8px;
    max-width: 414px;
    width: 100%;
    padding: 30px;
    background: #f3f3f3;
    border: 1px solid rgba(0, 0, 0, .1)
}

.mission__list-item p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    color: #000
}

.mission__list-item span {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #000
}

.mission-section__title {
    margin-left: 30px;
    margin-bottom: 5px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #111010
}

.mission-section__line {
    margin-left: 30px;
    width: 150px;
    height: 5px;
    background: #c4c4c4
}

.mission__info-wrapper {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.mission-section__subtitle {
    max-width: 529px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #111010
}

.mission-section__info {
    padding: 15px;
    max-width: 690px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #111010
}

@media only screen and (max-width: 769px) {
    .mission-section__info {
        padding: 0
    }

    .mission-section__title {
        padding-left: 20px;
        padding-right: 20px
    }

    .mission__line-wrapper {
        padding-left: 20px
    }

    .mission__info-wrapper {
        padding-left: 20px;
        padding-right: 20px
    }
}