.footer {
    width: 100%;
    background: #111010
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px
}

.footer__left-content-box {
    display: flex
}

.footer__right-content-box {
    display: flex
}

.footer__logo-box {
    padding: 20px;
    margin-right: 100px
}

.footer__logo-link {
    text-decoration: none
}

.footer__logo {
    margin-left: 50px;
    width: 112px;
    height: 112px
}

.footer__messenger-box {
    padding: 20px;
    margin-right: 100px
}

.footer__text-messenger {
    margin-top: 0;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #fff
}

.footer__icon-wrapper {
    display: flex;
    padding-top: 10px
}

.footer__messenger-link {
    text-decoration: none
}

.footer__messenger-icon {
    margin-right: 20px
}

.location-box__wrapper {
    padding: 5px;
    display: flex
}

.location-box__title {
    margin-top: 0;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #fff
}

.footer__location-box {
    padding: 20px;
    margin-right: 100px
}

.location-box__icon {
    margin-right: 10px;
    margin-top: 5px;
    width: 15px;
    height: 20px
}

.location-box__address {
    margin: 0;
    max-width: 331px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #fff
}

.footer__phone-box {
    padding: 20px;
    padding-top: 80px;
    display: flex
}

.phone-icon {
    margin-top: 5px;
    margin-right: 10px;
    width: 18px;
    height: 18px
}

.phone-number {
    display: block;
    text-decoration: none;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #fff
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px
}

.footer__info {
    margin-right: 30px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff
}

@media only screen and (max-width: 1245px) {
    .footer__logo {
        margin-left: 0px;
        width: 162px
    }

    .footer__logo-box {
        margin: 0
    }

    .footer__messenger-box {
        margin: 0
    }

    .footer__location-box {
        margin: 0
    }
}

@media only screen and (max-width: 769px) {
    .footer__wrapper {
        padding: 50px
    }

    .footer__left-content-box {
        width: 100%;
        justify-content: space-between
    }

    .footer__right-content-box {
        width: 100%;
        justify-content: space-between
    }
}

@media only screen and (max-width: 650px) {
    .footer {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px
    }

    .footer__wrapper {
        padding: 30px;
        flex-direction: column
    }

    .footer__left-content-box {
        flex-direction: column
    }

    .footer__right-content-box {
        flex-direction: column
    }

    .footer__phone-box {
        padding: 20px;
        padding-top: 20px;
        display: flex
    }
}

.footer__info-link {
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    transition: transform 0.4s;
}

.footer__info-link a {
    text-decoration: none;
    color: white;
}

.footer__info-link:hover {
    transform: translateY(-10px);
}

.footer__logo-tbt {
    cursor: pointer;
    position: absolute;
    margin-top: -20px;
    transition: all 0.4s;            
}

@media only screen and (max-width: 500px) {
    .footer-bottom {
        flex-direction: column
    }

}