.xizmatlar-pg__intro-section {
    width: 100%;
    background-image: url("../../assets/img/bizning-xizmatlar.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

.xizmatlar-pg__intro-box {
    padding: 145px 80px 145px 80px
}

.intro-box__title {
    margin: 0;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    /* line-height: 88px; */
    color: #fff
}

.xizmatlar-box-top {
    padding-left: 50px;
    padding-right: 20px
}

.xizmatlar-box-top h4 {
    margin-bottom: 25px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    align-items: center;
    color: #111010
}

.xizmatlar-box-top div {
    width: 150px;
    height: 5px;
    background: #c4c4c4
}

.xizmatlar-box-top p {
    max-width: 826px;
    padding-bottom: 20px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #616161
}

.xizmatlar-box-top hr {
    margin-bottom: 50px
}

@media only screen and (max-width: 769px) {
    .intro-box__title {
    font-size: 45px;
        /* line-height: 79px */
    }
}

@media only screen and (max-width: 500px) {
    .xizmatlar-pg__intro-box {
        padding: 150px 15px 100px 30px
    }

    .intro-box__title {
        font-size: 45px;
    }

    .xizmatlar-box-top {
        padding-left: 30px
    }

    .xizmatlar-box-top h4 {
        font-size: 42px
    }

    .xizmatlar-box-top p {
        font-size: 16px
    }

    .catalog-wrapper {
        margin-bottom: 80px;
        padding-left: 30px
    }
}